@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo_regular_macroman/Arimo-Regular-webfont.eot');
    src: url('../fonts/arimo_regular_macroman/Arimo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo_regular_macroman/Arimo-Regular-webfont.woff') format('woff'),
         url('../fonts/arimo_regular_macroman/Arimo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/arimo_regular_macroman/Arimo-Regular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo_italic_macroman/Arimo-Italic-webfont.eot');
    src: url('../fonts/arimo_italic_macroman/Arimo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo_italic_macroman/Arimo-Italic-webfont.woff') format('woff'),
         url('../fonts/arimo_italic_macroman/Arimo-Italic-webfont.ttf') format('truetype'),
         url('../fonts/arimo_italic_macroman/Arimo-Italic-webfont.svg#arimoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo_bold_macroman/Arimo-Bold-webfont.eot');
    src: url('../fonts/arimo_bold_macroman/Arimo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo_bold_macroman/Arimo-Bold-webfont.woff') format('woff'),
		 url('../fonts/arimo_bold_macroman/Arimo-Bold-webfont.ttf') format('truetype'),
         url('../fonts/arimo_bold_macroman/Arimo-Bold-webfont.svg#arimobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo_bolditalic_macroman/Arimo-BoldItalic-webfont.eot');
    src: url('../fonts/arimo_bolditalic_macroman/Arimo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo_bolditalic_macroman/Arimo-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/arimo_bolditalic_macroman/Arimo-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/arimo_bolditalic_macroman/Arimo-BoldItalic-webfont.svg#arimobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}