.container {
	margin: 0 auto;
	width: 1192px;
	height: 736px;
	text-transform: uppercase;
	font-family: "Arimo", sans-serif;
	line-height: 28px;
	color: #484848;
}

table {
	border: 30px solid #374765;
	border-collapse: collapse;
	text-align: center;
}

th {
	height: 70px;
	font-size: 30px;
	color: #fff;
}

th:first-child {
	width: 310px;
	background-color: #fafafa;
	color: #484848;
}

th:nth-child(even) {
	font-size: 24px;
}

td{
	width: 277px;
	height: 69px;
	border-left: 2px solid #d8d8d8;
	border-right: 2px solid #d8d8d8;
	font-size: 16px;
}

.choose {
	display: block;
	font-size: 18px;
}

.standard-btn, .standard-plan {
	background-color: #89c331;	
}

.ultimate-btn, .ultimate-plan {
	background-color: #f04a56;	
}

.premium-btn, .premium-plan {
	background-color: #20807c;	
}

.top-row {
	background-color: #fafafa;
	height: 86px;
}

.price {
	font-size: 60px;
	font-weight: 700;
}

.per-month {
	display: inline-block;
	margin-left: -4px;
	text-align: left;
}

.sup {
	display: block;
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
}

.sub {
	display: block;
	font-size: 18px;
}

.center-row-odd{
	background-color: #f2f2f2;
}

.center-row-even {
	background-color: #e3e3e3;
}

.bottom-row-contact {
	background-color: #ddd;
}

.bottom-row-standard, .bottom-row-premium {
	background-color: #eee;
}

.bottom-row-ultimate {
	background-color: #f4f4f4;
}

.fas, .far {
	padding-right: 12px;
	font-size: 24px;
	vertical-align: top;
	color: #848484;
}

.btn {
	padding-top: 7px;
	width: 192px;
	height: 49px;
	border-radius: 5px;
	border: 0;
	text-transform: uppercase;
	outline: none;
	font-weight: 700;
	color: #fff;
}

.btn:hover {
	background-color: #000;
	border-bottom: 7px solid #000;
	color: #f70511;
}

.contact-btn {
	background-color: #484848;
	border-bottom: 7px solid #404040;
}

.standard-btn {
	border-bottom: 7px solid #79b027;
}

.ultimate-btn {
	border-bottom: 7px solid #df3a46;
}

.premium-btn {
	border-bottom: 7px solid #16736f;
}